$breakpoint-extra-small: 300px;
$breakpoint-small: 567px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

@mixin extra-small {
    @media (min-width: #{$breakpoint-extra-small}) {
        @content;
    }
}

@mixin small {
    @media (max-width: #{$breakpoint-small}) {
        @content;
    }
}

@mixin medium {
    @media (max-width: #{$breakpoint-medium}) {
        @content;
    }
}


@mixin large {
    @media (max-width: #{$breakpoint-large}) {
        @content;
    }
}

@mixin extra-large {
    @media (max-width: #{$breakpoint-extra-large}) {
        @content;
    }
}

.formContainer {
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                width: 15rem;
                padding: 15px;
                border: none;
                border-bottom: 1px solid #a7bcff;
                border-radius: 6px;

                &::placeholder {
                    color: rgb(57, 100, 127);
                }

                &:focus {
                    outline: none;
                }
            }

            button {
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                border-radius: 6px;
                border: none;
                font-weight: bold;
                cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                font-size: 12px;
                cursor: pointer;
            }

            img {
                height: 2rem;
                width: 2rem;
            }
        }

        .logo {
            display: inline-flex;
            font-family: "Impact", sans-serif;
            background: url("./images/img6.jpeg");
            font-size: 3rem;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #5b728a54;
            animation: move 10s linear infinite;
            letter-spacing: .1rem;
        }

        @keyframes move {
            from {
                background-position: 0 80%;
            }

            to {
                background-position: 100% 50%;
            }
        }

        .title {
            color: #5d5b8d;
            font-size: 30px;
        }

        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;

        }
    }
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #c1b7f9;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}


.home {
    color: #878687;
    background-color: #31323e;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .navItems {
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-size: 25px;
            font-weight: 600;
            color: #E2E5E6;
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }

        .avatar {
            border-radius: 50%;
            height: 2.2rem;
            width: 2.2rem;
            object-fit: cover;
        }

        p {
            font-size: 22px;
            font-weight: 600;
        }

        img {
            cursor: pointer;
            height: 2rem;
            width: 2rem;
        }
    }

    .container {
        overflow: hidden;
        flex: 1;
        display: flex;
    }

    .sidebar {
        flex: 1;

        .search {
            padding: 1.5rem;

            .searchForm {
                outline: 1px solid #727786;
                padding: 10px;
                border-radius: 4px;

                input {
                    width: 19rem;
                    background-color: transparent;
                    border: none;
                    color: white;
                    outline: none;

                    &::placeholder {
                        color: lightgray;
                    }

                    @include large {
                        width: 10rem;
                        transition: width 0.5s ease;
                    }

                    @include medium {
                        width: 8rem;
                        transition: width 0.5s ease;
                    }

                    @include small {
                        width: 2rem;
                        transition: width 0.5s ease;
                    }
                }
            }
        }

        .userChat {
            margin: 0rem 1.5rem;
            border-radius: 6px;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            cursor: pointer;

            @include small {
                margin: 0rem;
                padding: 4px;
            }

            @include medium {
                margin: 0.3rem;
            }

            &:hover {
                background-color: #1C1F24;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .userChatInfo {
                span {
                    font-size: 18px;
                    font-weight: 500;
                }

                p {
                    font-size: 14px;
                    color: lightgray;
                    margin: 0;
                }

                @include small {
                    span {
                        font-size: 14px;
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        font-size: 11px;
                    }
                }
            }
        }

        @include small {
            display: none;
        }
    }
}

.chat {
    border-radius: 12px 0px 0px 0px;
    flex: 3;
    background-color: #1C1F24;
    overflow: hidden;
    @include small{
        border-radius: 12px 12px 0px 0px;
    }
    .chatInfo {
        background-color: black;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        justify-content: space-between;

        .rightMenu {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                cursor: pointer;
                height: 1.5rem;

                @include extra-small {
                    display: none;
                }

                @include small {
                    display: block;
                }
            }
        }


        .chatIcons {
            display: flex;
            gap: 10px;

            img {
                cursor: pointer;
                height: 1.6rem;
                width: 1.6rem;
            }
        }
    }

    .messages {
        height: calc(100% - 120px);
        padding: 0px 10px;
        overflow-y: scroll;

        .message {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            @include small {
                gap: 12px;
            }

            .messageInfo {
                display: flex;
                flex-direction: column;
                color: gray;
                font-weight: 300;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                @include small {
                    span {
                        font-size: 0.8rem;
                    }
                }

                @include medium {
                    span {
                        font-size: 0.8rem;
                    }
                }
            }

            .messageContent {
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    background-color: #000000;
                    padding: 10px 20px;
                    border-radius: 0px 10px 10px 10px;
                    max-width: max-content;
                }

                img {
                    width: 50%;
                }
            }

            &.owner {
                flex-direction: row-reverse;

                .messageContent {
                    align-items: flex-end;

                    p {
                        background-color: #676ca9;
                        color: white;
                        border-radius: 10px 0px 10px 10px;
                    }
                }

            }
        }
    }

    .input {
        height: 50px;
        padding: 10px;
        width: 98%;

        @include small {
            width: 91%;
        }

        @include medium {
            width: 93.5%;
        }

        @include extra-large {
            width: 97%;
        }

        .sendBar {
            overflow: hidden;
            border: 1px solid #535467;
            height: 2.5rem;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include small {
                margin-right: 0.8rem;
            }

            input {
                background-color: transparent;
                border: none;
                color: white;
                outline: none;
                width: 90%;
                margin: 0px 10px;

                &::placeholder {
                    color: lightgray;
                }
            }

            .send {
                display: flex;
                align-items: center;
                gap: 8px;

                .icon {
                    cursor: pointer;
                    font-size: 1.5rem;
                }

                button {
                    background-color: black;
                    border: none;
                    height: 2.5rem;
                    width: 2.5rem;
                    cursor: pointer;

                    .icon {
                        font-size: x-large;
                    }
                }
            }
        }
    }
}